@tailwind base;
@tailwind components;
@tailwind utilities;

/* optional custom body style */
body {
  @apply bg-gradient-to-br from-purple-50 via-purple-100 to-pink-50;
  font-family: 'Inter', sans-serif;
}
